.project {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  padding-top: 30px; /* Keep your existing padding */
}


