.project {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  padding-top: 30px; /* Keep your existing padding */
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 8px;
  padding: 16px;
  max-width: 425px;
  background-color: var(--ash-black);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}
.card:hover {
  transform: scale(1.1);
  background-color: var(--ash-grey); /* Change to a lighter color for the glow effect */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); Add shadow for depth */
}



.card-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: var(--light-slate);
}

.card-body {
  font-size: 1rem;
  margin-bottom: 12px;
  color: var(--slate);
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-tag {
  background-color: var(--ash-grey);
  color: var(--light-slate);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.card:hover .card-tag {
  background-color: var(--light-slate); /* Change to the desired color */
  color: var(--ash-black); /* Change text color if needed */
}