.navbar {
  background-color: var(--smoke-black);
  color: var(--light-slate);
  font-family: "NTR";
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: var(--light-slate) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--light-slate) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--cornflower-blue) !important;
}

@media only screen and (max-width: 600px) {
  .navbar-light .navbar-brand {
    display: none;
  }

  .navbar-light .navbar-nav.me-auto .nav-link {
    display: none;
  }
}
