.navbar {
  /* background: rgba(255, 255, 255, 0.1); Semi-transparent background */
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: var(--light-slate);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
  cursor: crosshair;
}
.navbar a:hover {
  color: var(--cornflower-blue);
}

.navbar .active {
  font-weight: bold; /* Example style */
  color: var(--cornflower-blue); /* Example style */
  text-shadow: 0 0 5px rgba(0, 0, 255, 0.7), 0 0 10px rgba(0, 0, 255, 0.5); 
}
