.experience {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

.experience-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  padding-top: 30px; /* Keep your existing padding */
}

.experience-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 8px;
  padding: 16px;
  max-width: 425px;
  background-color: var(--ash-black);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.experience-card:hover {
  transform: scale(1.1);
  background-color: var(--ash-grey); /* Change to a lighter color for the glow effect */
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); Add shadow for depth */
}

.company-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 16px;
}

.experienceCard-content {
  display: flex;
  flex-direction: column;
}

.experienceCard-header {
   display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and icon */
  align-items: center; /* Center vertically */
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: var(--cornflower-blue);
}

.pexperienceCard-header a {
  color: var(--light-slate);
  margin-left: 8px; /* Add some space between the title and the icon */
  display: flex; /* Ensure the icon is centered */
  align-items: center; /* Center the icon vertically */
}

.experience-iconContainer {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.experience-button-icon {
  color: var(--light-slate);
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}



.experienceCard-body {
  font-size: 1rem;
  margin-bottom: 12px;
  color: var(--light-slate);
}

.experienceCard-footer {
  color: var(--slate);
  font-size: 0.875rem;
}

/* .experience-icon {
  display: flex;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
  font-size: 0.875rem;
}
.experience-button-icon {
  
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
} */

.ReactModal__Content {
  background-color: var(--ash-black); /* Card background color */
  /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Inner spacing */
  max-width: 400px; /* Maximum width of the card */
  max-height: 600px;
  margin: auto; /* Center the card */
}

.ReactModal__Content--after-open {
  background-color: transparent !important; 
  border: none !important; /* Remove border */
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .5) !important;
}

.modal-content {
  background-color: var(--smoke-black); /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Inner spacing */
  max-width: 400px; /* Maximum width of the card */
  margin: auto; /* Center the card */
  font-family: "Varela Round", sans-serif ;
}

.modaltitle-Header {
  font-size: 1.5em; /* Title font size */
  font-weight: bold; /* Bold title */
  margin-bottom: 10px; /* Space below title */
  color: var(--cornflower-blue);
}

.modal-company {
  font-size: 1.2em; /* Company font size */
  color: var(--light-slate); /* Company text color */
  margin-bottom: 15px; /* Space below company name */
  
}

.modal-list {
  list-style-type: disc; /* Bullet points for list */
  padding-left: 20px; /* Indentation for list */
  margin-bottom: 15px; /* Space below list */
}

.modal-list li {
  list-style-type: none; /* Remove default bullet points */
  margin-bottom: 5px; /* Space between list items */
  color: var(--slate);
}

.modal-list li::before {
  content: "➥    ";
}
