.experience {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

.experience-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  padding-top: 30px; /* Keep your existing padding */
}

.duration-tag {
  color: var(--slate);
  border-radius: 4px;
  font-size: 0.875rem;
}


.ReactModal__Content {
  background-color: var(--ash-black); /* Card background color */
  /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Inner spacing */
  max-width: 400px; /* Maximum width of the card */
  max-height: 600px;
  margin: auto; /* Center the card */
}

.ReactModal__Content--after-open {
  background-color: transparent !important;
  border: none !important; /* Remove border */
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
  background-color: var(--smoke-black); /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Inner spacing */
  max-width: 400px; /* Maximum width of the card */
  margin: auto; /* Center the card */
  font-family: "Varela Round", sans-serif;
}

.modaltitle-Header {
  font-size: 1.5em; /* Title font size */
  font-weight: bold; /* Bold title */
  margin-bottom: 10px; /* Space below title */
  color: var(--cornflower-blue);
}

.modal-company {
  font-size: 1.2em; /* Company font size */
  color: var(--light-slate); /* Company text color */
  margin-bottom: 15px; /* Space below company name */
}

.modal-list {
  list-style-type: disc; /* Bullet points for list */
  padding-left: 20px; /* Indentation for list */
  margin-bottom: 15px; /* Space below list */
}

.modal-list li {
  list-style-type: none; /* Remove default bullet points */
  margin-bottom: 5px; /* Space between list items */
  color: var(--slate);
}

.modal-list li::before {
  content: "➥    ";
}
